    <div class="flex container-header">
    <div id="logo">
        <a asp-controller="Home" asp-action="Index"><img src="~/img/logo_roletop.png" title="Logo RolêTop"></a>
    </div>
    <div class="flex user">
        <p>@Model.UsuarioNome</p>
        <img src="~/img/icones/PNGs-Prontos/usuario.png" >
    </div>
    </div>