        <div class="flex container-header">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index"><img src="~/img/logo_roletop.png" title="Logo RolêTop"></a>
            </div>
            <nav>

                    <ul>
                        <li id="bt-mobile-menu">
                            <a href="javascript:void(0);" class="icon" onclick="toggleMobileMenu()">
                                <i class="fa fa-bars fa-2x "></i>
                            </a>
                        </li>                    
                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" asp-controller="Usuario" asp-action="Index">Home</a></li>
                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" asp-controller="Usuario" asp-action="Eventos">Meus Eventos</a></li>
                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" asp-controller="Usuario" asp-action="EventoCadastro">Cadastrar Evento</a></li>
                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" asp-controller="Usuario" asp-action="Eventos">Suas Informações</a></li>
                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" asp-controller="Usuario" asp-action="Suporte">Suporte</a></li>
                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" asp-controller="Cliente" asp-action="Logoff">Logoff</a></li>
                    </ul>
                </nav>
            <div class="user text" href="login-cadastro.html"><img src="~/img/icones/PNGs-Prontos/usuario.png" >@Model.UsuarioNome</div>
        </div>