<div class="flex container-header">
<div class="logo">
    <a ><img src="../img/logo_roletop.png" alt="logo Rolêtop" title="Logo RolêTop"></a>
</div>
<nav>

        <ul>
            <li id="bt-mobile-menu">
                    <a href="javascript:void(0);" class="icon" onclick="toggleMobileMenu()">
                        <i class="fa fa-bars fa-2x "></i>
                    </a>
                </li>
            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" asp-controller="Adm" asp-action="Index"> Home</a></li>
            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" asp-controller="Adm" asp-action="Usuario">Usuarios</a></li>
            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" asp-controller="Adm" asp-action="Suporte">Suporte</a></li>
            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" asp-controller="Cliente" asp-action="Logoff">Sair</a></li>
        </ul>
    </nav>