<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RolêTop</title>
    <link href="2-Imagens/logo do RolêTop.ico" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Carter+One|Itim|Limelight|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script>

</head>

<body>
    <header>

        <nav>
            <div class="section-container">

                <ul>
                    <li id="bt-mobile-menu">
                        <a href="javascript:void(0);" class="icon" onclick="toggleMobileMenu()">
                            <i class="fa fa-bars fa-2x "></i>
                        </a>
                    </li>
                    <li class="bt-common-menu">
                        <a href="index.html"><img class="logo" src="../img/logo do RolêTop.png" alt="logo Rolêtop" title="Logo RolêTop"></a>
                    </li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" href="index.html#Eventos">Eventos</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" href="index.html#servicos">Serviços</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" href="index.html#Infraestrutura-Galeria">Infraestrutura/Galeria</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" href="index.html#orçamento">Orçamento</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" href="index.html#calendario">Caléndario</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" href="index.html#FAQ">FAQ</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" href="index.html#Contatos">Contatos</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" class="sob" href="index.html#Localizacao">Localização</a></li>
                    <li><a id="bt-login" class="sob" href="login-cadastro.html"><i class="fas fa-user fa-5x"></i><br> Login/Cadastro </a></li>
                </ul>

            </div>
        </nav>
        <div>
            <div id="banner-area" class="banner">
                <h2>Espaco para festas Rolêtop</h2>
                <h3>Festas Open Bar do seu jeito</h3>
                <div class="bottom">
                    <p>Festas de aniversários, Tenns, temáticas. Ambiente para qualquer idade 20,30,40,50,60,70 anos ou mais.
                        <br> Faça seu evento aqui!!!</p>
                </div>

            </div>

        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="flex footer-container">

            <img class="footer-logo" src="Img/logo do RolêTop.png" alt="Logo do RoleTop">
            <div class=" flex social">
                <div class="flex foot">
                    <p>Facebook:</p>
                    <br>
                    <i class="social-icon fab fa-facebook-square fa-2x"></i>
                </div>
                <div class="flex foot">
                    <p>Instagram:</p>
                    <br>
                    <i class="social-icon fab fa-instagram fa-2x"></i>
                </div>
                <div class="flex foot">
                    <p>Acesso a Deficiente:</p>
                    <i class=" social-icon fab fa-accessible-icon fa-2x"></i>
                </div>
            </div>
        </div>
    </footer>
    <script>
        function toggleMobileMenu() {
            var ul = document.querySelector("nav ul");
            var commonButtons = document.querySelectorAll("nav .bt-common-menu");
            var icon = document.querySelector(".icon > i");

            ul.classList.toggle("mobile-mode");

            if (icon.classList.contains("fa-bars")) {
                icon.classList.remove("fa-bars");
                icon.classList.remove("fa");

                icon.classList.add("fas");
                icon.classList.add("fa-hand-middle-finger");
            } else {
                icon.classList.remove("fas");
                icon.classList.remove("fa-hand-middle-finger");

                icon.classList.add("fa");
                icon.classList.add("fa-bars");
            }

            for (var button of commonButtons) {
                button.classList.toggle("active");
            }

        }
    </script>
    </body>
    </html>