            <main>
                <section class="flex conf">
                    <img src="~/img/icones/Suc_cadastro.png">
                    <br>
                    <p>Obrigado!!!! <br> Você concluiu seu cadastro, <br> siga para o seu perfil.</p>
                    <a href='@Url.Action("Index", "Cadastro")'><button class="margin">Continuar</button></a>
                </section>

            </main>