<main>
                <section class="flex conf">
                    <img src="~/img/icones/Erro_cadastro.png">
                    <br>
                    <p>Falha em @ViewData["Action"]! Tente Novamente!</p>
                    <a href='@Url.Action("Index", "Cadastro")'><button class="margin">Voltar</button></a>
                </section>

</main>