<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portifolio</title>
    <link href="Css/Styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        img
        <nav>
            <ul>
                <li><a href="index.html#SobreMim">Sobre Mim</a></li>
                <li><a href="index.html#Hobbies">Hobbies</a></li>
                <li><a href="index.html#ExpProf">Experiências Profissionais</a></li>
                <li><a href="index.html#Curriculum">Curriculum</a></li>
                <li><a href="index.html#Contato">Contatos</a></li>
            </ul>
            </nav>
            <div class="lobo">

                <img src="Imagens/556954_fondos-de-pantalla-lobo-todos-los-wallpapers-lobo_1920x1080_h.jpg" alt="Um lobo emcima de uma colina uivando">
            </div>
    </header>
    <main class="flex">
        <section id="SobreMim">

            <h1>SobreMim</h1>
            <h2>Erique P. Martins</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus iure maiores laborum id quos iusto nostrum ipsam, praesentium porro sed rem nihil fuga perferendis blanditiis? Ipsam rem porro tenetur vel! Modi illo necessitatibus voluptatem aut pariatur dicta obcaecati, voluptates dolores dolore quo? Unde nam consectetur maxime rerum nulla totam labore expedita sed architecto culpa recusandae quod quis voluptas nihil, et aspernatur, commodi delectus atque laboriosam quaerat officia. Nostrum maxime quas dignissimos, et laudantium consequuntur deleniti repudiandae natus, aperiam soluta necessitatibus eius possimus illo ipsum cupiditate fuga facere, enim eaque! Odit quae assumenda exercitationem sunt eius harum consequatur optio aut nulla!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et eius saepe impedit inventore nulla pariatur facilis optio consequatur hic tempore alias atque totam sint ut repellat voluptas veritatis, eos possimus!</p>
        </section>
        <section id="Hobbies">
            <h1>Hobbies</h1>
        </section>
        <section id="ExpProf">
            <h1>Experiências Profissionais</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum non tempora tenetur necessitatibus eligendi error consequuntur, fugit eius. Sunt rerum beatae libero earum veritatis maxime possimus eaque quia facilis mollitia!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla hic eius, ipsum omnis numquam modi possimus rerum praesentium. Quo fugit odio culpa nesciunt reprehenderit error soluta harum excepturi beatae.</p>
        </section>
        <section id="Curriculum">
            <h1>Curriculum Vitae</h1>
            <p>Arquivo para download do pdf.</p>
        </section>
        <section id="Contato">
            <h1>Contatos</h1>
            <p>Email</p>
            <p>Linkedin</p>
            <p>Facebook</p>
            <p>Intagram</p>
            <p>Telefone</p>
        </section>
    </main>
</body>
</html>