@model RoleTopMVC.ViewModels.ServicoViewModel
        <main class="ex cadastro flex">
            <div class="flex user-container">
                    <i class="icon fas fa-folder-plus fa-3x"></i>
                <h1>Cadastrar Evento</h1>
            </div>
            <section id="cadastro">

                <form method="POST" action='@Url.Action("CadastrarEvento","Usuario")'>

                    <div class="flex cad-box">

                        <div>
                            <label for="nome">Nome do Evento</label>
                            <br>
                            <input id="nome" name="nomeEvento" type="text">
                        </div>
                        <div class="marg">
                            <label for="data">Data do Evento</label>
                            <br>
                            <input id="data" name="dataDoEvento" type="date">
                        </div>
                    </div>
                    <div class="flex cad-box-2">
                        <div>
                            <label for="tipo">Tipo de Evento</label>
                            <br>
                            <select id="tipo" name="tipo">
                                <option value="" disabled selected>Selecione</option>
                                <option value="Aniversario">Aniversário</option>
                                <option value="Balada">Balada</option>
                                <option value="Casamento">Casamento</option>
                                <option value="Cha_de_bebe">Chá de bebe</option>
                                <option value="Confraternizações">Confraternizações</option>
                                <option value="Festas">Festas</option>
                                <option value="Formatura">Formatura</option>
                                <option value="15_anos">15 anos</option>
                            </select>
                        </div>
                        <div>
                            <label for="servico">Serviços Opcionais</label>
                            <br>
                            <select id="servico" name="servico">
                                <option value="" disabled selected>Equipamentos</option>
                                @foreach (var s in Model.Servicos)
                                {
                                    <option value="@s.Nome">@s.Nome por @s.Preco</option>
                                }
                            </select>
                            <p>*Limpeza incluso em todos os planos.</p>
                        </div>
                    </div>
                    <div>
                        <label for="numero">Quantidade de Pessoas</label>
                        <br>
                        <div class="flex quant">

                            <input id="numero" name="numero" type="number" min="20" max="400">
                            <p> (max:400)</p>
                        </div>
                    </div>
                    <div>
                        <label for="pictures">Carrega a suas imagens</label>
                        <br>
                        <input id="pictures" type="file" name="arquivos"  accept="image/png, image/jpeg"  multiple />
                        <p>*Obrigatorio imagen se o evento for publico</p>
                    </div>
                    <div class="descricao">
                        <label for="descricao">Descrição</label>
                        <br>
                        <textarea id="descricao" name="descricao"></textarea>
                    </div>
                    <div class="flex submit">

                        <input type="submit" value="Finalizar pedido!">
                    </div>

                </form>
            </section>
        </main>