<main class="ex flex">
    <div class="flex user-container">
            <i class="icon far fa-folder-open fa-3x"></i>
        <h1>Meus Eventos</h1>
    </div>
    <section>
        <div>

            <table>

                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Serviços</th>
                        <th>Tipo</th>
                        <th>Publi./Priv</th>
                        <th>Quantidade de Pessoas</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <p>Seu ultimo evento registrado foi 03/09/2019 às 10:23</p>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Eletrotec</td>
                        <td>10/10/2019</td>
                        <td>Completo</td>
                        <td>Balada</td>
                        <td>Publico</td>
                        <td>300</td>
                        <td>Confirmado</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <br>
            <div class="flex last">

                <div>

                    <div class="flex descricao">
                        <p> Descrição</p>

                        <textarea id="descricao"></textarea>
                    </div>
                </div>
                <div class="flex edit-container">
                    <div class="flex">
                            <i class="icon fas fa-edit fa-2x"></i>
                        <p>Editar Informações.</p>
                    </div>
                    <div class="flex">
                            <i class="icon fas fa-trash-alt fa-2x"></i>
                        <p>Remover Evento</p>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <hr>
            <br>
            <br>
            <br>
            <!--Inicio da segunda sessão-->
            <section>
        </div>
        <table>

            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Serviços</th>
                    <th>Tipo</th>
                    <th>Publi./Priv</th>
                    <th>Quantidade de Pessoas</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <p>Seu ultimo evento registrado foi 03/09/2019 às 10:23</p>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>Eletrotec</td>
                    <td>10/10/2019</td>
                    <td>Completo</td>
                    <td>Balada</td>
                    <td>Publico</td>
                    <td>300</td>
                    <td>Confirmado</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <br>
        <div class="flex last">

            <div>

                <div class="flex descricao">
                    <p> Descrição</p>

                    <textarea id="descricao"></textarea>
                </div>
            </div>
            <div class="flex edit-container">
                <div class="flex">
                        <i class=" icon fas fa-edit fa-2x"></i>
                    <p>Editar Informações.</p>
                </div>
                <div class="flex">
                        <i class=" icon fas fa-trash-alt fa-2x"></i>
                    <p>Remover Evento</p>
                </div>
            </div>
        </div>
        </section>
    </section>

</main>