@model RoleTopMVC.ViewModels.ServicoViewModel
        <main class="evecad cadastro flex">
            <div class="flex user-container">
                    <i class="icon fas fa-folder-plus fa-3x"></i>
                <h1>Cadastrar Evento</h1>
            </div>
            <section id="cadastro">

                <form method="POST" action='@Url.Action("CadastrarEvento","Usuario")'>

                    <div class="flex cad-box">

                        <div>
                            <label for="nome">Nome do Evento</label>
                            <br>
                            <input class="nome" id="nome" name="nomeEvento" type="text" required>
                        </div>
                        <div class="marg">
                            <label for="data">Data do Evento</label>
                            <br>
                            <input id="data" name="dataDoEvento" type="datetime-local" required>
                        </div>
                    </div>
                    <div class="flex cad-box-2">
                        <div>
                            <label for="tipo">Tipo de Evento</label>
                            <br>
                            <select id="tipo" name="tipo" required>
                                <option value="" disabled selected>Selecione</option>
                                <option value="Aniversário">Aniversário</option>
                                <option value="Balada">Balada</option>
                                <option value="Casamento">Casamento</option>
                                <option value="Chá de bebe">Chá de bebe</option>
                                <option value="Confraternizações">Confraternizações</option>
                                <option value="Festas">Festas</option>
                                <option value="Formatura">Formatura</option>
                                <option value="15 anos">15 anos</option>
                            </select>
                        </div>
                        <div>
                            <label for="servico">Serviços Opcionais</label>
                            <br>
                            <select id="servico" name="servico" required>
                                <option value="" disabled selected>Equipamentos</option>
                                @foreach (var s in Model.Servicos)
                                {
                                    <option value="@s.Nome">@s.Nome por @s.Preco R$</option>
                                }
                            </select>
                            <p>*Limpeza incluso em todos os planos.</p>
                        </div>
                    </div>
                    <div>
                        <label for="numero" required>Quantidade de Pessoas</label>
                        <br>
                        <div class="flex quant">

                            <input id="numero" name="numero" type="number" min="20" max="400">
                            <p> (max:400)</p>
                        </div>
                    </div>
                    <div class="descricao" >
                        <label for="descricao">Descrição</label>
                        <br>
                        <textarea id="descricao" name="descricao"></textarea>
                    </div>
                    <div class="flex submit">

                        <div>
                        <label for="priv" required> Público/Privado</label>
                        <br>
                        <div class="flex pub-priv">

                            <input id="priv" type="radio" name="pub_priv" value="False" height="50%">
                            <p>Privado</p>
                        </div>
                        <br>
                        <div class="flex pub-priv">

                            <input id="priv" type="radio" name="pub_priv" value="True">
                            <p>Público</p>
                        </div>
                    </div class = "decer">

                        <input  type="submit" value="Finalizar pedido!">
                    </div>

                </form>
            </section>
        </main>