<main>
    <section>
            <div class="flex home-container">
                    <i class="icon fas fa-home fa-2x"></i>
                    <h1>Home</h1>
            </div>
            <div class="flex main-container">
                <a asp-controller="Usuario" asp-action="Eventos"><div class="flex main-cent info"><h2>Veja aqui suas <br> informações.</h2></div></a>
                <a asp-controller="Usuario" asp-action="EventoCadastro"><div class="flex main-cent cadastrar"><h2>Cadastre Novos Eventos</h2></div></a>
                <a asp-controller="Usuario" asp-action="Eventos"><div class="flex margin main-cent evento"><h2>Veja aqui seus eventos <br> cadastrados.</h2></div></a>
                <a asp-controller="Usuario" asp-action="Suporte"><div class="flex margin main-cent suport"><h2>Tem Alguma Duvida? <br> ou Problema? <br> Contate-nos diretamente.</h2></div></a>
                
            </div>          
    </section>
</main>