@model RoleTopMVC.ViewModels.BaseViewModel
<main class="informa flex" id="" >
<div class="flex user-container">
    <i class="icon fas fa-address-card fa-3x"></i>
<h1>   Minhas Informações</h1>
</div>
<section id="informacao">


<div class=" flex info">
    <div >
        <h4>Nome</h4>
        <p>@Model.Cliente.Nome
            </p>
    </div>
    <div>
        <h4>Email</h4>
        <p>@Model.Cliente.Email
            </p>
    </div>
    <div>
        <h4>Telefone</h4>
        <p>@Model.Cliente.Telefone
            </p>

    </div>

    <div>
        <h4>CPF/CNPJ</h4>
        <p>@Model.Cliente.CPF
            </p>
    </div>
    <div class="info-button flex">

    <a asp-controller="Usuario" asp-action="InfoAlterar"><u>Alterar Informações.</u></a>
    <a><u>Mudar Senha.</u></a>
    </div>
</div>

</section>
</main>
