p {
    color: #ffffff;
    font-family: 'itim', cursive; 
    font-size: 1.4em;
}
h1{
    color: white;
    font-family: 'Carter One', cursive;
    font-size: 2em;
    padding: 0px 0px;
    

}
h2{
    color: #fff;
    font-family: 'Itim', cursive;
    margin-bottom: 1em;
    font-size: 2em;
    text-shadow: -2px -2px 0 #000,
                    2px -2px 0 #000,
                -2px  2px 0 #000,
                    2px  2px 0 #000;    
}


/*=================================================================================
                        HEADER
=================================================================================*/
header{
    background-image: linear-gradient(#44014f,#1e0023,#000);
    width: 100%;
}
header div #logo img{
    width: 20%;
}
header div .user img{
    width: 40%;
    height: 40%;
}
.container-header{
    width: 100%;
    height: 10%;
    align-items: flex-end;
    justify-content: space-between;
    
}
.user{
    width: 300px;
    max-height: 200px;
    align-items: center; 

}
/*==================================================================*/
/*==============================================================
                    Home
===================================================================*/
.icon{
    color: #fff;
    margin-top: 0.2em;
}
.home-container{
    justify-content: flex-start;
    margin-left: 4em; 
    margin-top: 2em;
    
}
/*====================================================================*/
/*======================================================================
                    MAIN
======================================================================*/
.main-container{
    width: 60%;
    height: 600px;
    flex-flow: row wrap;    
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}
.main-cent{
    width: 400px;
    height: 180px;
    background-size: 300px; 
    border: 1px solid white;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.flex.main-container > a > div {
    filter: opacity(60%);
}
.flex.main-container > a > div:hover{
    box-shadow: -4px 5px rgba(0, 0, 0, 0.3);
    filter: opacity(100%);

}

.flex.main-container > a{
    text-decoration: none;
    display: block;
    align-items: center;
}

.info{
    background-image: url('../img/Pessoas/Informacao.jpg');
    background-position: center;
    background-size: cover;
}

.cadastrar{
    background-image: url('../img/Pessoas/cadastrar.jpg');
    background-position: center;
    background-size: cover;

}
.suport{
    background-image: url('../img/Pessoas/duvida.jpg');
    background-position: center;
    background-size: cover;
}
.evento{
    background-image: url('../img/Pessoas/eventos.jpg');
    background-position: center;
    background-size: cover;
}


/*==================================================================================================================================
                        MOBILE
==================================================================================================================================*/                        
@media (max-width: 625px){

    h2{
        color: #fff;
        font-family: 'Itim', cursive;
        font-size: 1.5em;
    }
    /*=================================================================================
                        HEADER
=================================================================================*/
header div #logo img{
    width: 50%;
}
#logo{
    width: 50%;
}
header div .user img{
    width: 40%;
    height: 40%;
}
.user{
    width: 50%;
}
/*==================================================================*/
/*======================================================================
                    MAIN
======================================================================*/
.main-container{
    width: 100%;
    height: 700px;
}
.main-cent{
    width: 18em;
    height: 8em;
}
.margin{
    margin-bottom: 2em;
}
}