<main class="flex" >
    <section id="login">


            <h2>Login</h2>
            <form method="POST" action='@Url.Action("Login", "Cliente")'>
                <div>
                    <label for="email">E-mail</label>
                    <br>
                    <input id="email" type="email" name="email">
                </div>

                <div>
                    <label for="senha">Senha</label>
                    <br>
                    <input id="senha" name="senha" required type="password" maxlength="15" minlength="3">
                </div>
                <input type="submit" >
                <br>
                <div>
                    <input type="checkbox" name="lembrar">Lembre-se de Mim
                </div>
                <a href='@Url.Action("Index", "Cadastro")'>Não tem conta? Cadastre-se!</a>

            </form>

    </section>

    </main>