<main class="flex" >
<section id="cadastro">

<h2>Cadastre-se</h2>
<form method="POST" action='@Url.Action("CadastrarCliente", "Cadastro")'>
    <div>
        <label for="nome">Nome Completo</label>
        <br>
        <input id="nome" type="text" maxlength="20" minlength="3" name="nome" placeholder="Escreva seu nome por extenso">
    </div>
    <div>
        <label for="email">E-mail</label>
        <br>
        <input id="email" type="email" name="email" placeholder="ex:Seu.email@email.com">
    </div>
    <div>
        <label for="telefone">Telefone</label>
        <br>
        <input id="telefone" type="text" name="telefone" minlength="10" maxlength="11" placeholder="ex:( ) xxxxx-xxxx" >

    </div>
    <div>
        <label for="senha">Senha</label>
        <br>
        <input id="senha" name="senha" type="password" maxlength="15" minlength="8" placeholder="min. de 8 caracteres">
    </div>
    <div>
        <label for="rep-senha">Corfirme a Senha</label>
        <br>
        <input id="rep-senha" type="password" maxlength="15" minlength="8" placeholder="Repita a mesma senha do campo acima">
    </div>
    <div>
        <label for="cpf">CPF/CNPJ</label>
        <br>
        <input id="cpf" name="cpf" required type="text" maxlength="11" minlength="11" placeholder="ex:123.456.789-10">
    </div>
    <input type="checkbox" name="termos" value="termos"><a href="">Aceito os Termos de Condição</a>
    <input type="submit" value="Confirmar">

</form>
</section>
</main>


