<!DOCTYPE html>
<html>
    <body>
    @RenderBody()


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Portfolio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>
